doctype html
html
  head
    meta(charset='UTF-8')
    title TodoList
    link(rel='stylesheet prefetch', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css')
    link(rel='stylesheet', href='css/style.css')
  body
    ul#ListItems.card.todolist.collection.with-header
      li.collection-header
        h4 TodoList Menu
        #addItem.input-field
          input#addtolist.validate(type='text')
          label(for='addtolist') Just do it.
          button#add.btn(type='submit') Add
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js')
    script(src='js/index.js')